input, textarea, select {
  font-family: $font-stack;
  font-size: 1.1em;
  padding: 0.3em 0.6em;
  background-color: lightgrey;
  border: 0;
  border-radius: 0;
}

input {
  min-width: 35%;
}

textarea {
  width: 100%;
  min-height: 140px;
}

.form-control {
  margin: 0.5em 0;
}
