body, html {
  font-family: $font-stack;
  font-size: 1em;
}

a {
  display: inline-block;
  background-color: darkgray;
  color: #000;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
